@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Bold.woff2') format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Bold.woff2') format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-Regular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: "PTSans";
  src: url('../fonts/PTSans-Regular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "LibreCaslonText";
  src: url('../fonts/Librecaslontextbold.woff2') format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "LibreCaslonText";
  src: url('../fonts/Librecaslontext.woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Forum";
  src: url('../fonts/Forum.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}