@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');
@import "fonts";
@import "global";

.news {
  margin-top: 60px;
  margin-bottom: 80px;
  @media (max-width: 564px) {
    margin-top: 30px;
    margin-bottom: 40px;

  }

  &__title {
    margin-bottom: 120px;
    @media (max-width: 1024px) {
      margin-bottom: 60px;

    }

    @media (max-width: 564px) {
      margin-bottom: 40px;

    }

  }
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 60px;
    row-gap: 120px;
    @media (max-width: 1124px) {
      column-gap: 15px;
      row-gap: 30px;

    }

  }
  &__item {
    grid-column: 4 span;
    @media (max-width: 1024px) {
      grid-column: 6 span;
    }
    @media (max-width: 564px) {
      grid-column: 12 span;
    }

    &-title {
      font-family: "Libre Caslon Text", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      color: $dark-color;
      @media (max-width: 1024px) {
        font-size: 16px;
      }

    }
    &-date {
      font-family: "Libre Caslon Text", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      color: $dark-color;

    }
  }
  &__link {
    text-decoration: none;
  }
  &__image {
    border: 5px solid $light-gray;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
  }

}

.more {
  position: relative;
  @media (max-width: 564px) {
    padding-bottom: 50px;
  }

  &__image {
    @media (max-width: 1024px) {
      max-width: 350px;
    }
    @media (max-width: 796px) {
      max-width: 250px;
    }

  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: $pink-color;
    filter: blur(10px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    @media (max-width: 564px) {
      flex-direction: column-reverse;
    }

  }
  &__title {
    font-family: "Libre Caslon Text", sans-serif;
    font-style: normal;
    max-width: 777px;
    font-weight: 400;
    font-size: 40px;
    color: $dark-color;
    @media (max-width: 1024px) {
      font-size: 32px;
    }
    @media (max-width: 796px) {
      font-size: 24px;
    }
    @media (max-width: 564px) {
      font-size: 18px;
    }

  }
  &__link {
    font-family: "Libre Caslon Text", sans-serif;
    font-style: normal;

    font-weight: 700;
    text-decoration: none;
    color: $dark-color;
  }
}